
body {
  padding-top: 50px;
  color: #303030;
  background-color: #eeeeee;
  	text-align: center;
	font-family:Century Gothic,Arial,sans-serif;
}

ul {
    width: 70%;
    margin: auto;
}

a {
	text-decoration: none
}

.TopBar
{
	color: #eeeeee;
	background-color: #303030;
}
.SectionHeader
{
	padding-bottom:8px;
	border-bottom:1px solid #303030;
	font-weight: bold;
}

.ProjectHeader
{
	border-radius: 6px;
	padding-top: 1px;
}

.ProjectSection
{
	padding-top: 15px;
}
/*http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-centered-columns*/
.ProjectSection-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
}
.SiteSection
{
	padding-top:50px;
	margin-top:-50px;
	padding-bottom:50px;
}

.ImageGroup
{
	position: relative; 
}
.ImageGroup .ImageGroupImage
{
	-webkit-filter: grayscale(0) brightness(1);
	filter: grayscale(0) brightness(1);
	transition: all 300ms ease;
}
.ImageGroup:hover .ImageGroupImage
{
	-webkit-filter: grayscale(1) brightness(0.5);
	filter: grayscale(1) brightness(0.5);
}

.ImageGroup .ImageGroupText
{
	position: absolute;
	top: 0%;
	left:0;
	right:0;
	bottom:0; 
	color: #ffffff;
	opacity: 0.95;
	font-weight: bold;
	 -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;

}
.ImageGroup:hover .ImageGroupText
{
	opacity: 1;
}

.Listing
{
	text-align: left;
	font-size: 21px;
	font-weight: 300px;
}

.ImageSlideButton
{
	cursor: pointer;
}

